
<h3 class="py-5 text-center">You don't have Permission to access this page.</h3>

<div class="d-flex justify-content-center">
  <a href="/">
    <button type="button" class="btn btn-outline-warning btn-lg">Back to Home</button>
  </a>
</div>